.column {
  column-count: 4;
  text-align: justify;
  column-width: 200px;
  column-gap: 20px;
  column-rule-style: solid;
  column-rule-width: 1px;
}

h1 {
  column-span: all;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 10px;
}

img {
  column-span: all;
  width: 250px;
  margin: 15px;
}
